server:
  port: 80

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/order_db
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  kafka:
    bootstrap-servers: ${KAFKA_HOST}:9092
    consumer:
      group-id: order-event-group
      auto-offset-reset: earliest